<%-include("partials/header.ejs")%>
<h1>Compose</h1>
<form action="/" method="POST">
    <input type="text" name="blogTitle" class="disp-block mb-20">
    <textarea id="" name="blogText" rows="10" cols="100" class="mb-20"></textarea><br>
    <button type="submit" name="btn">Publish</button>
</form>
<%-include("partials/footer.ejs")%>